.app {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    background-image: linear-gradient(180deg, #f53d2d, #f63);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
    display: flex;
}

.header__navbar-item {
    position: relative;
    margin: 0 8px;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #e03e2a;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    right: 0;
    width: 150px;
    height: 106px;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px #ddd;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 12px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}


.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
    color: #00bfa5;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px
}

.header__navbar-item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 6px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1 );
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 12px;
}

.header__qr-link:nth-child(2) {
    margin-right: 12px;
}

.header__qr-download-img {
    height: 18px;
}

/* Header notify */
.header__notify {
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 2px;
    box-shadow: 0 0 40px rgba(0,0,0,.18);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 12px;
}

.header__notify::after {
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    position: absolute;
    top: -18px;
    right: -2px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    user-select: none;
}

.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 10px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(251, 85, 51,.08);
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.header__notify-img {
    width: 42px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 5px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgba(0,0,0,.6);
    margin-top: 4px;
}


.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    text-align: center;
}

/* Auth form */
.auth-form {
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    width: 500px;
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 80px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls-back:hover {
    background-color: #ddd;
}

.auth-form__socials {
    padding: 16px 36px;
    margin-top: 22px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-title {
    margin: 0 28px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--google {
    color: #555;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -4px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help--forgot {
    color: var(--primary-color);
}

/* Haeder with search */
.header-with-search {
    position: relative;
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__nav-bars-btn {
    margin-left: 2px;
    display: none;
}

.header__nav-bars-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__nav-overlay {
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadein linear 0.2s;
}

.header__nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #f5f5f5;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.header__nav-list {
    padding: 8px 20px 0 20px;
    margin: 0;
    list-style: none;
}

.header__nav-user {
    background-color: #fa5230;
    display: flex;
    padding: 20px;
}

.header__nav-user-img {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #c6c6c6;
}

.header__nav-user-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
}

.header__nav-user-name {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white-color);
}

.header__nav-edit-profile {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    text-decoration: none;
}

.header__nav-link {
    text-decoration: none;
    color: transparent;
    display: flex;
    padding-top: 20px;
}

.header__nav-acount-link:hover,
.header__nav-link:hover span {
    color: var(--primary-color);
}

.header__nav-link img {
    width: 20px;
    height: 20px;
}

.header__nav-link span {
    display: block;
    margin-left: 8px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
}

.header__nav-account-list {
    list-style: none;
    padding-left: 38px;
    margin-top: 4px;
}

.header__nav-acount-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #565656;
    display: block;
    padding: 8px 0;
}

.header__nav-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
}

.header__nav-close-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.nav__input {
    display: none;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}


.header__mobile-search-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 12px);
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1 );
    display: none;
}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: #bbb;
    margin: 10px 12px;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    line-height: 38px;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
}

.header__search-select {
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1rem;
    color: #a2a2a2;
    margin: 0 16px 0 8px;
}

.header__search-select:hover .haeder__search-option {
    display: block;
}

.haeder__search-option {
    margin: 3px 0;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    width: 130px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ddd;
    list-style: none;
    padding-left: 0;
    display: none;
    z-index: 1;
}

.haeder__search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
}

.haeder__search-option-item {
    background-color: var(--white-color);
    padding: 0 8px;
}

.haeder__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.haeder__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.haeder__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.haeder__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.haeder__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}

.haeder__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    border: none;
    outline: none;
    background-color: #fb5533;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
    margin-top: 4px;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.2rem;
}

.header__cart-notice {
    position: absolute;
    top: -9px;
    right: -2px;
    padding: 1px 4px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
    color: var(--primary-color);
    height: 2rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.header__cart-list {
    position: absolute;
    z-index: 2;
    top: calc(100% + 10px);
    right: 1px;
    width: 410px;
    background-color: var(--white-color);
    border: 0.4px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 40px 0 rgb(0 0 0 / 20%);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    top: -26px;
    right: 1px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 60px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    display: block;
}

.header__cart-no-cart-img {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: none;
}

.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--text-color);
}

.header__cart-heading {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 10px;
    text-align: left;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 0 10px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 10px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 10px 10px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
    cursor: pointer;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;
    border-right: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:last-child .header__sort-link::after {
    display: none;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
    margin-top: var(--header-height);
}

.app__content {
    padding-top: 32px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 16px 16px;
    margin: 0;
}

.category-list {
    list-style: none;
    padding: 10px 0 10px 0;
    margin: 0;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -1px;
}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    display: block;
    width: 110px;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 4px;
}

/* Home  filter */
.home-filter {
    background-color: #ededed;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    background-color: var(--white-color);
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 68px;
    height: 34px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #f1f1f1;
}

.home-filter__page-icon {
    margin: auto;
    color: #5f5f5f;
    font-size: 1rem;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
    transform: translateY(-1px);
    cursor: pointer;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: rgba(0,0,0,.8);
    margin: 10px 10px 6px;
    height: 2.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 10px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 4px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: #ee4d2d;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
    margin-top: 1px;
}

.home-product-item__star-gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.87 );
    margin-left: 5px;
}

.home-product-item__origin {
    display: block;
    text-align: right;
    color: rgba(0,0,0,.65);
    font-size: 1.2rem;
    padding: 3px 10px 10px;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #f25220;
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: 0.8rem;
    color: var(--white-color);
    margin: 0 3px 0 0;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    padding: 2px 0;
    text-align: center;
    background-color: rgba(255, 212, 36, 0.9);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-style: solid;
    border-width: 0 18px 4px;
    border-color: transparent rgba(255, 212, 36, 0.9) ;
}

.home-product-item__sale-off-percent {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ee4d2d;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.2rem;
}

/* pagination */
.home-product__pagination {
    margin: 40px 0 32px 0;
    padding-left: 0;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 10px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ef5e41;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #a5a5a5;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading {
    margin: 20px 0 14px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.footer-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0,0,0,.54);
    padding: 6px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 84px;
    height: 84px;
    border: 1px solid var(--border-color);
    margin-right: 16px;
}

.footer__download-app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

.footer__download-app-img {
    height: 18px;
}

.footer__bottom {
    padding: 40px 0;
    margin-top: 26px;
    border-top: 1px solid rgba(0,0,0,0.1);
    justify-content: space-between;
}

.footer__text {
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
}

.footer__country-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__country-list span {
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
}

.footer__country-item-link {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
    display: block;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    border-right: 1px solid rgba(0,0,0,.2);
}

.footer__country-item:last-child .footer__country-item-link {
    border-right: none;
}